# Visual Studio
.vs/
*.user
*.suo

# Build results
bin/
obj/
out/

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

# Rider / VS Code
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment / secrets
appsettings.Development.json
appsettings.*.local.json
*.env